.blog{
    padding: .5rem;
}
h1{
    font-size: 2rem;
    color: black;
    text-align: center;
    text-decoration: underline;
}

.content{
    display:flex ;
    justify-content: space-between;
    gap: 1rem;
    /* border: 1px solid yellow; */
    width: 60%;
    margin: 4rem auto;
    /* flex-wrap: wrap; */

}

.left_side{
    width: 40%;
    min-width:300px;
    padding: 1rem;
    background-color:darkgray;
    border: 1px solid lightgray;
}
.right_side{
    width: 70%;
    min-width: 400px;
    border: 1px solid lightgray;
    padding: 4px;
}
/* @media screen and () {
    
} */